.footer-section {
	background: $background-color;
	border-bottom: 20px solid darken($background-color, 15%);
	color: white;
	padding-bottom: 2em;
	padding-top: 2em;
	text-align: center;

	p {
		display: block;
		font-weight: 100;
		margin: 0 auto;
	}
}