.tag-list {
	list-style-type: none;
	margin: 0;
	padding: 20px 0px 0px 0px;

	li {
		background: none;
		border: 1px solid darken($background-color, 10%);
		color: darken($background-color, 10%);
		font-weight: 100;
		padding: .5em .75em;
		margin: .25em;
	}

	&.brand li {
		border-color: $brand-color;
		color: $brand-color;
	}
}