{% extends 'base' %}

{% block head_meta %}
    <meta name="robots" content="index, follow">
{% endblock %}

{% block base_content %}
    {% from 'macros' import tag_list %}
    <section id="banner" class="banner">
        <figure>
            <img src="{{ site.url }}/assets/images/lg/rain.jpg">
        </figure>
        <div class="banner-content">
            <h1 class="slide-right">Thomas P. Wilson</h1>
            <h2 class="slide-left">Software architect and developer</h2>
            <small class="slide-up slide-late">- and serial hobbyist -</small>
        </div>
    </section>

    <div class="container">
        <article class="post section-padded">
            <h2>{{ page.title }}</h2>
            <p class="meta">
                <small><i class="fa fa-clock-o"></i> {{ post.date|date('l, F j, Y @ g:ia') }}</small> |
                <small><i class="fa fa-user"></i> {{ post.author|default('Thomas P. Wilson') }}</small>
                {% if page.categories %}
                | 
                    {% for category in page.categories %}
                    <a href="{{ site.url }}/blog/categories/{{ category|url_encode(true) }}" class="label label-default">{{ category }}</a>
                    {% endfor %}
                {% endif %}
            </p>
            <div>
                {{ page.blocks.content|raw }}
            </div>
            {% if page.tags %}
            <p class="tags">
                {{ tag_list(page.tags) }}
            </p>
            {% endif %}

            {% if page.next_post %}
                <a href="{{ site.url }}{{ page.next_post.url }}" title="{{ page.next_post.title }}" class="btn btn-default pull-right"><span class="title">{{ page.next_post.title }} <i class="fa fa-arrow-circle-o-right"></i></span></a>
            {% endif %}
            {% if page.previous_post %}
                <a href="{{ site.url }}{{ page.previous_post.url }}" title="{{ page.previous_post.title }}" class="btn btn-default pull-left"><span class="title"><i class="fa fa-arrow-circle-o-left"></i> {{ page.previous_post.title }}</span></a>
            {% endif %}
        </article>

        {% if site.disqus.shortname and site.disqus.shortname != '' %}
        <div id="disqus_thread"></div>
        {% endif %}
    </div>

{% endblock %}

{% block scripts_after %}
    {% if site.disqus.shortname and site.disqus.shortname != '' %}
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = '{{ site.disqus.shortname }}'; // required: replace example with your forum shortname


        {% if page.disqus.identifier  %}var disqus_identifier = '{{ page.disqus.identifier }}'; {% endif %}

        {% if page.disqus.title %}var disqus_title = '{{ page.disqus.title }}';{% endif %}

        {% if page.disqus.url %}var disqus_url = '{{ page.disqus.url }}';{% endif %}

        {% if page.disqus.category_id %}var disqus_category_id = '{{ page.disqus.category_id }}';{% endif %}

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var dsq = document.createElement('script');
            dsq.type = 'text/javascript';
            dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the
        <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered byDisqus.</a>
    </noscript>
    {% endif %}
{% endblock %}