.btn {}

.btn-circle {
	align-items: center;
	background: rgba(0, 0, 0, 0.3);
	border-radius: 50%;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	display: inline-flex;
	height: 32px;
	justify-content: center;
	transform: background box-shadow;
	vertical-align: middle;
	width: 32px;

	&:hover {
		background: rgba(0, 0, 0, 0.7);
		box-shadow: 0 0 5x rgba(0, 0, 0, 0.7);
	}
}