
.news_widget{
	padding-right: 15px;
	p{
		font-size: 14px;
		line-height: 24px;
		font-family: $rob;
		color: $pfont;
		margin-bottom: 15px;
	}
	.input-group{
		input{
			height: 40px;
			background: transparent;
			border-radius: 0px;
			width: 80%;
			border: none;
			padding: 0px 15px;
			border: 1px solid #1e233b;
			font-size: 14px;
			font-family: $rob;
			color: #cccccc;
			outline: none;
			box-shadow: none;
			@include placeholder{
				font-size: 14px;
				font-family: $rob;
				font-weight: normal;
				color: #cccccc;
			}
		}
		.sub-btn{
			border-radius: 0px;
			background-image: -moz-linear-gradient( 0deg, rgb(118,109,255) 0%, rgb(136,243,255) 100%);
			background-image: -webkit-linear-gradient( 0deg, rgb(118,109,255) 0%, rgb(136,243,255) 100%);
			background-image: -ms-linear-gradient( 0deg, rgb(118,109,255) 0%, rgb(136,243,255) 100%);
			outline: none !important;
			box-shadow: none !important;
			padding: 0px;
			border: none;
			width: 42px;
			cursor: pointer;
			color: #fff;
		}
	}
}