<section id="banner" class="banner">
    <figure></figure>
    <div class="banner-content">
        <h1 class="slide-right">Thomas P. Wilson</h1>
        <h2 class="slide-left">Software architect and developer</h2>
        <small class="slide-up slide-late">- and serial hobbyist -</small>
    </div>
</section>