@use 'sass:math';

$REM: 16;
@function rem($rem) {
  @return math.div($rem, $REM) + rem;
}

h2 {
  color: #444;
  font-size: rem(24);
  margin-top: rem(24);
}

.unit-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;

  .input-group {
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
  }

  strong {
    color: #666;
    font-weight: normal;
    padding: 8px;
  }
}
