.dropdown-toggle {
	&:disabled,
	&.disabled {
		&:after {
			display: none;
		}
	}
}

.dropdown-menu {
	input.form-control[type=search] {
		&,
		&:focus,
		&:active {
			border: 1px solid #ced4da;
			border-radius: 0;
			box-shadow: none;
			height: auto;
			line-height: 1rem;
			margin: .25rem;
			padding: .5rem;
		}

		&:first-child {
			margin-top: -.25rem;
		}

		+ .dropdown-divider {
			margin-top: 0;
		}
	}

	.dropdown-divider {
		background: #ced4da;
		display: block;
		height: 1px;
	}
}