.fancy-heading {
    align-content: center;
    align-items: center;
    color: $background-color;
    display: flex;
    justify-content: center;
    position: relative;

    &:before {
        border: .25em solid $background-color;
        border-left-color: transparent;
        border-right-color: transparent;
        content: '';
        display: block;
        position: absolute;
        width: 100%;
    }

    > span {
        background-color: white;
        padding: 0 .5em;
        position: relative;
    }
}
