.tab-list {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	&,
	& > li {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	> li > .btn {
		background: white;
		border: 1px solid #ccc;
	}
}

//.nav-link:focus, .nav-link:hover {
//    text-decoration: none;
//}
.nav-link {
	background: transparent;
	border: 0;
}
.nav-link:hover, .nav-link:focus {
    text-decoration: none;
    outline: none;
}
.nav-link:hover {
    color: #0056b3;
    cursor: pointer;
}
