.tab-list {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	&,
	& > li {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	> li > .btn {
		background: white;
		border: 1px solid #ccc;
	}
}