@import './responsive';

main {
    @include large-and-up {
        margin-left: var(--sidebar-width);
    }

    .content {
        padding-top: 4rem;
        padding-bottom: 4rem;
    
        @include large-and-up {
            padding-left: 5em;
            padding-right: 5em;
        }
    }
}
