h1,
h2,
h3,
h4,
h5,
h6 {
	color: darken($brand-color, 10%);
	font-weight: 100;
}


.dropdown-menu {
	z-index: 1000;
}

table {
	width: 100%;
}

.App-content,
.App-header {
	h1,
	h2 {
		margin-top: 3rem;
    	text-align: center;
	}
}

.stripe {
	background-color: #f3f3f3;
}

.lightGreenBg {
	background-color: lighten(green, 70%);
}

.sticky {
	position: sticky;
	top: 74px;
}

.bg-white {
	background: white;
}