/*
 * Global resets
 */
html, body {
    margin: 0;
    padding: 0;
    scroll-snap-type: y mandatory;
}
@media (min-width: 48em) {
    html {
        font-size: 14px;
    }
}
@media (min-width: 58em) {
    html {
        font-size: 18px;
    }
}

* {
    box-sizing: border-box;
}