.sidebar {
    align-items: right;
    background-color: var(--primary-color);
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 1rem;

    @include large-and-up {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: var(--sidebar-width);
        text-align: center;
    }

    /* Sidebar links */
    a {
        color: #fff;
        text-decoration: none;
    }

    img.photo {
        border-radius: 50%;
        display: block;
        margin: 2em auto;
        max-width: 50%;
    }

    /* About section */
    .sidebar-about {
        h1 {
            color: #fff;
            margin-top: 0;
            font-family: "Abril Fatface", serif;
            font-size: 1.5rem;
        }
    }

    .lead {
        margin: 3em 0;
    }

    /* Sidebar nav */
    nav {
        .sidebar-nav {
            list-style: none;
            margin-bottom: 1rem;
            margin-right: 1rem;
            padding: 0;
            text-align: right;

            > li {
                padding: 0;

                > a {
                    line-height: 1.75;

                    &:hover,
                    &:focus {
                        text-decoration: underline;
                    }
                    &.active {
                        font-weight: bold;
                        position: relative;

                        &:after {
                            border: 7px solid transparent;
                            border-right: 7px solid white;
                            content: '';
                            display: block;
                            position: absolute;
                            right: -15px;
                            top: 4px;
                        }
                    }
                }
            }
        }
    }

    .colophon {
        bottom: 0;
        display: block;
        margin: 1em;
        margin-left: -2rem;
        position: absolute;
        width: 100%;
    }

    + main {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}
