---
layout: base
title: Posts Archive
generator: pagination
use:
    - posts
    - posts_tags
---

{% block base_content %}
{% set year = '0' %}
<section id="banner" class="banner">
    <figure>
        <img src="assets/images/lg/rain.jpg">
    </figure>
    <div class="banner-content">
        <h1 class="slide-right">Thomas P. Wilson</h1>
        <h2 class="slide-left">Software architect and developer</h2>
        <small class="slide-up slide-late">- and serial hobbyist -</small>
    </div>
</section>

<div class="section section-padded">
    <div class="row">
        <div class="container">
            <div class="col-md-8">
                <h2>Posts Archive</h2>
                {% for post in page.pagination.items %}
                    {% set this_year %}{{ post.date | date("Y") }}{% endset %}
                    {% if year != this_year %}
                      {% set month = '0' %}
                      {% set year = this_year %}
                    {% endif %}
                    {% set this_month %}{{ post.date | date("F") }}{% endset %}
                    {% if month != this_month %}
                      {% set month = this_month %}
                      <h4>{{ month }} {{ year }}</h4>
                    {% endif %}
                    <div>
                      <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                    </div>
                {% endfor %}

                <div>
                {% if page.pagination.previous_page or page.pagination.next_page %}
                    <nav class="article clearfix">
                    {% if page.pagination.previous_page %}
                    <a class="previous" href="{{ site.url }}{{ page.pagination.previous_page.url }}" title="Previous Page"><span class="title">Previous Page</span></a>
                    {% endif %}
                    {% if page.pagination.next_page %}
                    <a class="next" href="{{ site.url }}{{ page.pagination.next_page.url }}" title="Next Page"><span class="title">Next Page</span></a>
                    {% endif %}
                    </nav>
                {% endif %}
                </div>
            </div>
            <div class="col-md-4 blog-tag-col">
                <h2>Tags</h2>

                <div>
                {% for tag,posts in data.posts_tags %}
                <a href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}" class="label label-default"><i class="fa fa-tag"></i> {{ tag }}</a>&nbsp;
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
