.input-group {
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  text-wrap: nowrap;

  label {
    margin: 0;
  }
}

li:last-child .input-group {
  border-bottom-width: 0;
}
