.experience-section {
	background: $background-color;
	color: white;
	font-weight: 100;

	h4 {
	    font-family: "Heebo", sans-serif;
	    font-size: 36px;
	    margin-bottom: 18px;
	    text-transform: uppercase;
	    text-align: center;
	}

	.experience-list {
		list-style: none;
		margin: auto;
		position: relative;
		padding-top: 40px;
		padding-bottom: 60px;

		> li {
			> h4,
			> h5,
			> h6 {
				display: inline-block;
				font-size: 1.5em;
				font-weight: 100;
				text-align: center;
				width: 33%;
			}
		}
	}
}