.services-section {
    background: #f7f7f7;

    h4 {
        color: $background-color;
    }

    .services-wrapper {
        display:flex;
        flex-direction:row;
        margin: 0 -1em;

        .service-item {
            @include transition;
            box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.08);
            flex-grow: 1;
            flex: 1 1 30%;
            background: #fff;
            margin-bottom: 30px;
            margin-left: 1em;
            margin-right: 1em;
            padding: 50px 35px;

            i {
                display: block;
                margin-bottom: 35px;
                text-align: center;

                &:before{
                    margin-left: 0px;
                    font-size: 60px;
                    color: $background-color;
                    line-height: 60px;
                }
            }

            h4 {
                font-size: 21px;
                font-family: $hee;
                margin-bottom: 20px;
                text-align: center;
                text-transform: uppercase;
            }

            p {
                margin-bottom: 0px;
            }
        }
    }
}